body{
    background-color: #E9F3EF;
    font-family:Arial;
}
main{
    font-family:Arial;
    text-align: center;
    line-height: 20px;
}
h1{
    text-align: center;
    background-color: olive;
}
h2{
    background-color: #66E9A0;
}
footer{
    background-color: rgb(121, 193, 226);
    text-align:center;
    font-family:Arial;
}
button{
    background-color: rgb(12, 185, 228);
}
ul{
    font-family: Arial;
    text-align:left;
}
input{
    text-align:left;
    font-family:Arial;
    border:5px outset grey;
    margin:40px;
    padding:10px;
    margin-left:10px;
}
